<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groopie Trackeur</title>
    <link rel="stylesheet" href="style/style.css">
</head>

<body>
    <header>
        <div class="header-left">
            <h1>DÉCOUVRE DE NOUVEAUX ARTISTES</h1>
        </div>
        <div class="header-right">
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Rechercher un artiste...">
                <div id="searchResults" class="search-results"></div>
            </div>
            <div class="toggle-mode">
                <div class="toggle-handle"></div>
                <img src="assets/sun.png" alt="Soleil" class="icon sun">
                <img src="assets/moon.png" alt="Lune" class="icon moon">
            </div>            
    </header>
    
    <section class="hero">
        <div class="spinning-disk">
            <img src="assets/disk_static.png" alt="Disque tournant">
        </div>

        <div class="musical-note-container">
            <img src="assets/noteMusique.png" class="musical-note" alt="Musical Note">
            <img src="assets/noteMusique.png" class="musical-note" alt="Musical Note">
        </div>

        <div class="block-container">
            <div class="featured-artists">
                <div class="track">
                    {{range .}}
                    <a href="/infoartist/{{.ID}}" class="artist">
                        <img src="{{.Image}}" alt="Image de {{.Name}}">
                        <h2>{{.Name}}</h2>
                    </a>
                    {{end}}
                </div>
            </div>
        </div>
    </section>
    
    <button class="boutonFiltre">FILTRES</button>

    <div class="menu_filtre">
        <form method="POST" action="/filtre">
                <div class="filtreAnnee">
                    <button type="submit" name="filter" value="creation_entre_1950_1959">1950 - 1959</button>
                    <button type="submit" name="filter" value="creation_entre_1960_1969">1960 - 1969</button>
                    <button type="submit" name="filter" value="creation_entre_1970_1979">1970 - 1979</button>
                    <button type="submit" name="filter" value="creation_entre_1980_1989">1980 - 1989</button>
                    <button type="submit" name="filter" value="creation_entre_1990_1999">1990 - 1999</button>
                    <button type="submit" name="filter" value="creation_entre_2000_2009">2000 - 2009</button>
                    <button type="submit" name="filter" value="creation_entre_2010_2019">2010 - 2019</button>
                </div>

                <div class="nbMembre">
                    <button type="submit" name="filter" value="un_membre">UN MEMBRE</button>
                    <button type="submit" name="filter" value="deux-membres">DUO</button>
                    <button type="submit" name="filter" value="groupe">GROUPE</button>
                </div>

                <button type="submit" name="filter" value="favoris" class="btnFavoris">FAVORIS</button>
                <button type="submit" name="filter" value="effacer_filtre" class="btnReset">REINITIALISER</button>
        </form>
    </div>


    <div class="artists-container">
        {{range .}}
        <a href="/infoartist/{{.ID}}">
            <div class="artist">
                <img src="{{.Image}}" alt="Image de {{.Name}}">
                <h2>{{.Name}}</h2>
            </div>
        </a>
        {{end}}
    </div>
 
        
    <div class="separator"></div>

    <script src="assets/js/script.js"></script>

    <footer>
        <p>© 2024 Groopie Trackers. Toute reproduction, même partielle, est interdite sans autorisation.</p>
    </footer>

    <script src="assets/js/scriptinfo.js"></script>
    <script src="assets/js/OK.js"></script>
</body>
</html>
