<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informations sur {{.Artist.Name}}</title>
    <link rel="stylesheet" href="/style/styleArtist.css">
</head>
<body>
    <header>
        <div class="header-left">
            <h1>DÉCOUVRE DE NOUVEAUX ARTISTES</h1>

            <div id="contenu"></div>

        </div>
        <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Rechercher un artiste...">
                <button>Rechercher</button>
            </div>
            <div class="toggle-mode">
                <div class="toggle-handle"></div>
                <img src="assets/sun.png" alt="Soleil" class="icon sun">
                <img src="assets/moon.png" alt="Lune" class="icon moon">
            </div>            
    </header>
    <div class="container">
        <div class="background">
            <img src="/assets/noteMusique.png" alt="Notes musique" class="noteMusique">
            <img src="/assets/disqueHaut.png" alt="Disque haut" class="disqueHaut">
            <img src="/assets/disqueBas.png" alt="Disque bas" class="disqueBas">
        </div>
        
        <div class="artist-info">
            <div class="bouton">
                <a href="http://localhost:8080/" class="close-btn">&#10006;</a>
                <button class="favorite-btn">&#10084;</button>
            </div>
            <div class="detailArtist">
                <div class ="photoinfo">
                    <img src="{{.Artist.Image}}" alt="Image de {{.Artist.Name}}" class="artist-img">
                <div class="details">
                    <h1>{{.Artist.Name}}</h1>
                    <p><strong>Creation Date :</strong> {{.Artist.CreationDate}}</p>
                    <p><strong>First Album :</strong> {{.Artist.FirstAlbum}}</p>
                    <p><strong>Members :</strong> <br />
                        {{ range $index, $member := .Artist.Members }}
                            {{ if $index }}- {{ end }}{{ $member }}
                        {{ end }}
                    </p>
            </div>
            </div>
            </div>
            <div class="concerts">
                <h2>Concerts</h2>
                <div class="liste">
                    <ul class="concert-list">
                        {{ range $city, $dates := .Relation.DatesLocations }}
                            <li><strong>{{ $city }} :</strong> 
                                {{ range $index, $date := $dates }}
                                    {{ if $index }}, {{ end }}{{ $date }}
                                {{ end }}
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    <script src="/assets/js/scriptInfo.js"></script>
    <script src="assets/js/OK.js"></script>
</body>
</html>