@font-face {
    font-family: 'MontserratAlternates';
    src: url('/assets/fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@900&display=swap');

body {
    background-color: #2e2e2e; /* Fond sombre */
    color: white;
    transition: background 0.3s ease-in-out;
    margin: 0px;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}

body.light-mode {
    background-color: #d4d4d4; /* Fond clair */
    color: black;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #1e1e1e;
}

header h1 {
    color: #d2d2d2;
    margin: 0;
}


.header-left {
    display: flex;
    align-items: center;
    font-family: 'MontserratAlternates', sans-serif;
    margin-left: 30px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #3a3a3a;
    padding: 5px 10px;
    border-radius: 5px;
}

.search-bar input {
    background: none;
    border: none;
    outline: none;
    color: white;
}

.search-bar button {
    background: #555;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/** Bouton pour la mode nuit */

.toggle-mode {
    width: 60px;
    height: 30px;
    background: #d4d4d4;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transition: background 0.3s ease-in-out;
}

.toggle-handle {
    position: absolute;
    width: 26px;
    height: 26px;
    background: #333;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: left 0.3s ease-in-out;
}

.icon {
    width: 25px;
    height: 25px;
    position: absolute;
}

.sun {
    right: 6px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    top: 4px;
}

.moon {
    left: 6px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    top: 4px;
}

.toggle-mode.active {
    background: #555;
}

.toggle-mode.active .toggle-handle {
    left: 35px;
}

.toggle-mode.active .sun {
    opacity: 0;
}

.toggle-mode.active .moon {
    opacity: 1;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.noteMusique {
    position: absolute;
    width: 100%;
    height: auto;
}

.disqueHaut {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.disqueBas {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    right: 0;
}

.artist-info {
    position:relative;
    background: rgba(93, 109, 126, 0.8);
    padding: 3%;
    border-radius: 5%;
    max-width: 50%;
    box-shadow: 0 0.5% 1% rgba(0, 0, 0, 0.3);
}

.detailArtist {
    display: flex;
    align-items: stretch;
    text-align: center;
    padding: 3%;
}

.photoinfo {
    display: flex;
    align-items: center;
}

.artist-img {
    width: auto;
    height: 100%;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: black 0 0 50px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.details {
    margin-left: 5%;
}

.details h1{
    font-family: 'MontserratAlternates', sans-serif;
    text-align: center;
}

.details p {
    font-size: 22px;
    margin: 1%;
    text-align: justify;
    padding: 5px;

}

.details p strong{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900;

}

.concerts {
    margin-top: 2%;
}

.concerts h2{
    font-family: 'MontserratAlternates', sans-serif;
    text-align: center;
}

.concert-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0;
    list-style: none;
    text-align: justify;
    font-family: 'Montserrat Alternates', sans-serif;
}

.liste {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat Alternates', sans-serif;
}

.close-btn {
    position: absolute;

    display: flex; 
    align-items: center; 
    justify-content: center;

    top: 3%;
    right: 3%;
    border: none;
    font-size: 150%;
    color: white;
    cursor: pointer;
    background-color: rgb(121, 142, 163);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-decoration: none;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: rgb(121, 142, 163);
    background-color: white;
}

.favorite-btn {
    position: absolute;
    top: 3%;
    right: 10%;
    border: none;
    font-size: 150%;
    color: white;
    cursor: pointer;
    background-color: rgb(121, 142, 163);
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    transition: color 0.3s ease;
}

.favorite-btn:hover {
    color:red;
}

.favorite-btn.active {
    color: red;
    transition: color 0.3s ease;
}

.search-results {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}

.search-results div {
    padding: 10px;
    cursor: pointer;
}